{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Регистрация{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
            <h1 class="font-bold text-center text-2xl mb-5">Регистрация</h1>
            <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
                <div class="px-5 py-7">
                    {{ form_label(form.username, 'Логин', {'attr': {'class': 'font-semibold text-sm text-gray-600 pb-1 block'}}) }}
                    {{ form_widget(form.username, {'attr': {'class': 'border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full focus:ring-purple-400'}}) }}
                    {{ form_label(form.password, 'Пароль', {'attr': {'class': 'font-semibold text-sm text-gray-600 pb-1 block'}}) }}
                    {{ form_widget(form.password, {'attr': {'class': 'border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full focus:ring-purple-400'}}) }}
                    <button type="submit" class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
                        <span class="inline-block mr-2">Зарегистрировать</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 inline-block">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                        </svg>
                    </button>
                </div>
                <div class="py-5 text-center">
                    <a href="{{ path('app_login') }}" class="transition duration-200 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 inline-block align-text-center" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
                        </svg>
                        <span class="inline-block ml-1">Есть аккаунт?</span>
                    </a>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
